In [1]:
import sys
#lets you access python's runtime environment
from pathlib import Path
#sys.path is a built in variable in the sys module and contains a list of directories that is seached through when you do an import
#so we are appending the src directory to that
sys.path.append(str(Path().resolve().parent / "src"))

import config
import pandas as pd

In [2]:
df = pd.read_csv(config.DB_LOCATION)

C:\Users\bnpar\AppData\Local\Temp\ipykernel_54384\26049954.py:1: DtypeWarning: Columns (33,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(config.DB_LOCATION)

In [3]:
all_types_count = {}
for col in df.columns:
    col_types = df[col].map(type)   #applies type(x) to every x in the column so you get series ['string', 'string', 'float'....]
    all_types_count[col] = col_types.value_counts().to_dict()

In [4]:
mixed_type_cols = []

for col in all_types_count:
    no_types = len(all_types_count[col].values())
    if no_types > 1:
        print(col, all_types_count[col])
        mixed_type_cols.append(col)

AgeClass {<class 'str'>: 1108521, <class 'float'>: 321752}
BirthYearClass {<class 'str'>: 1127071, <class 'float'>: 303202}
Division {<class 'str'>: 1429064, <class 'float'>: 1209}
WeightClassKg {<class 'str'>: 1413601, <class 'float'>: 16672}
Tested {<class 'str'>: 1285499, <class 'float'>: 144774}
Country {<class 'str'>: 829844, <class 'float'>: 600429}
State {<class 'float'>: 1178876, <class 'str'>: 251397}
MeetState {<class 'str'>: 761311, <class 'float'>: 668962}
MeetTown {<class 'str'>: 1199484, <class 'float'>: 230789}

In [5]:
for col in mixed_type_cols:
    mask = df[col].map(type) == float
    float_col = df.loc[mask, col]
    float_col = float_col.dropna()
    print(float_col)

Series([], Name: AgeClass, dtype: object)
Series([], Name: BirthYearClass, dtype: object)
Series([], Name: Division, dtype: object)
Series([], Name: WeightClassKg, dtype: object)
Series([], Name: Tested, dtype: object)
Series([], Name: Country, dtype: object)
Series([], Name: State, dtype: object)
Series([], Name: MeetState, dtype: object)
Series([], Name: MeetTown, dtype: object)

All float datatypes are because of NaN entries in  the table. Have used data from IPF affiliates only so 'Tested' NaNs ARE in tested _federation_.

Empty DataFrame
Columns: [Name, Sex, Event, Equipment, Age, AgeClass, BirthYearClass, Division, BodyweightKg, WeightClassKg, Squat1Kg, Squat2Kg, Squat3Kg, Squat4Kg, Best3SquatKg, Bench1Kg, Bench2Kg, Bench3Kg, Bench4Kg, Best3BenchKg, Deadlift1Kg, Deadlift2Kg, Deadlift3Kg, Deadlift4Kg, Best3DeadliftKg, TotalKg, Place, Dots, Wilks, Glossbrenner, Goodlift, Tested, Country, State, Federation, ParentFederation, Date, MeetCountry, MeetState, MeetTown, MeetName, Sanctioned]
Index: []

[0 rows x 42 columns]